* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #289688;
}
h1 {
    color: #FCEA3E;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.container-galery{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.galery-images{
    height: 200px;
    margin: 8px;
    border: 14px solid #FFFF;

}
