/* 
    vh -> Es proporcional en porcentaje al alto del navegador en el que se esta visualizando
    vw -> Es proporcional en porcentaje al ancho del navegador en el que se esta visualizando
 */
.nosotros-banner {
    margin-top: 4rem;
    background-image: url(https://images.unsplash.com/photo-1454372182658-c712e4c5a1db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position-x: 50%; 
    background-position-y: 50%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* orientacion vertical */
    justify-content: center; /* orientacion horizontal */
}

.nosotros-banner h2 {
    background-color: #12281670;
    font-size: 6rem;
    color: #e6e6e6;
    text-align: center;
}
.nosotros-banner p {
    background-color: #12281670;
    color: #e6e6e6;
    text-align: center;
}