* {
    font-family: Verdana, Arial, sans-serif;
    background-color: #EDECE9;
    margin: 2px;
    color: #775548;
}
header {
    text-align: left;
}
header a {
    color: #EF691E;
}
img {
    width: 100%;
}
a {
    color: #EF691E;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    color: #EF691E;
    font-size: 25px;
    padding-left: 0px;
    margin-top: 0;
}
nav li {
    margin: 0 5px;
}

h1 {
    color: #775548;
    text-align: left;
}
h3 {
    background-color: #775548;
    color: #E9DAD1;
    margin-top: 20px;
    margin-bottom: 20px;
}
main {
    padding: 0px;
}
ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 20px;
}
ol {
    list-style-type: decimal;
    padding-left: 40px;
}
ol ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 20px;
}
ol ul li::before {
    content: "";
    display: inline-block;
    width: 4px; 
    height: 4px;
    border: 1px solid #775548; 
    border-radius: 50%; 
    margin-right: 2px; 
}
#nacion{
    color: #46B7CD;
}
#pagina {
    color: #EE4D4C;
}
#elegir {
    color: #D8B03B;
}