*{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: #273238;
    margin: 0 2px;
}
h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 80px;
    color: #698593;
    background-color: #ffff;
    text-align: center;
    margin: 50px 2px;
    letter-spacing: 3px;
}
p{
    color: #D0D8DB;
    text-align: justify;
    line-height: 30px;
    font-size: 21px;
}
h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}
h2::first-letter {
        font-size: 130%;
}
img {
    margin-left: 70px;
    margin-bottom: 20px;
    border: 5px solid;
    width: 660px;
}
.aspiradoras {
    color: #E6CBBF;
    border-color: #E6CBBF;
}
.celulares {
    color: #A4C2CB;
    border-color: #A4C2CB;
}
.consolas {
    color: #BCBDBF;
    border-color: #BCBDBF;
}
.home_theaters {
    color: #9097A4;
    border-color: #9097A4;
}
.televisores {
    color: #B4B0A4;
    border-color: #B4B0A4;
}
