nav ul {
    list-style-type: none; 
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}
.sub-menu {
    display: none;
    background-color: rgb(255, 242, 226);
    border-bottom: 1px solid black;

}
@media (max-width: 1400px) {
    header nav ul {
        display: none;
    }
    .sub-menu {
        display: block;

    }
    .sub-menu nav ul {
        justify-content: start;
        /* background-color: antiquewhite; */
    }
}

nav ul li {
    /* margin: 16px; */
    /* margin-left: 16px;
    margin-right: 16px; */
    margin: 0 16px;
}

nav ul li a{
    color: grey;
    text-decoration: none;
    font-size: 30px;
}
header a h1 {
    color: black;
    margin-left: 2rem;
}
.header-container {
    display: flex;
    background-color: azure;
    justify-content: space-between;
    position: fixed;/* mantener fija la barra del header */
    align-items: center;
    /* padding: 8px; */
    border-bottom: 1px solid black;
    top: 0;
    width: 100%;
    min-height: 62px;
}

/*Pseudo clases
a:link

a:hover

a:active

a:visited
*/
a:hover {
    color: rgb(0, 29, 159);
    font-size: 2rem;
    text-decoration: underline;
    cursor: pointer;
    
}
@media (max-width: 1400px) {
    a:hover{
       font-size: 1rem; 
    } 
}

a:visited {
    color: grey;
}
a:active {
    color: #fff;
}