/* fuente Caveat de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script:wght@600&family=Passions+Conflict&family=Zeyada&display=swap');

*{
    font-family: Caveat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    /* font-style: italic; */
}

html {
    font-size: 16px; /* este es nuestro root */
}

.body {
    margin: 0;
    margin-top: 6rem;
}

h1{
    margin: 0;
    font-weight: 700;
    font-size: 3rem;
}
h2{
    font-weight: 500;
}
/* p, a, li {
    font-weight: 400;
} */

p, li {
    font-size: 30px;
}

a { /*Con respecto al elemento padre */
    
    /* Con respecto a la configuracion de root*/
    /* font-size: 1.5rem */
    font-size: 1.5rem;
    text-decoration: none;
}

section{
    padding: 1rem 5%;
}


/* Helpers */
.d-flex {
    display: flex;
}
.float-right{
    float: right;
}
.height-200{
    height: 300px !important;
}
.ml-1 {
    margin-left: 16px;
}

.text {
    text-align: justify;
}



